In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(rc={'figure.figsize':(12,10)})
import warnings
warnings.filterwarnings("ignore")

In [3]:
import random
random.seed(5)

In [6]:
data=pd.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.shape

(891, 12)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
dict_live={
    0:'Died',
    1:'Survived'}
dict_sex={
    'male':0,
    'female':1}
data['Bsex']=data['Sex'].apply(lambda x:dict_sex[x])

features = data[['Pclass','Bsex']].to_numpy()
labels   = data['Survived'].to_numpy()

In [11]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest= train_test_split(features, labels, test_size=0.30, random_state=0)

In [14]:
def sigmoid(x, desrivative=False):
      if (derivative):
          f=1/(1+np.exp(-x))*(1-1/(1+ np.exp(-x)))
      else:
          f=1/(1+np.exp(-x))
      return f

In [15]:
def ReLu(x, desrivative=False):
      if (derivative):
          f=np.heaviside(x,1)
      else:
          f=np.maximum(x,0)
      return f